@font-face { 
    font-family: "PBSignature-RegularText";
    font-style: normal;
    font-weight: 200;
    src: 
      url(/assets/PBSignature-RegularText.ttf) format("truetype");
  }

  @font-face { 
    font-family: "PBSignature-RegDisplayInline";
    font-style: normal;
    font-weight: 200;
    src: 
      url(/assets/PBSignature-RegDisplayInline.ttf) format("truetype");
  }

body {

    background-color:#f5f4ec;
    font-family: "PBSignature-RegularText";
}


#navbar{
    background-color:#001E60 !important;
    font-family: "PBSignature-RegDisplayInline" !important;
}


#logo {

    display: flex;
    
}


  