@font-face { 
    font-family: "PBSignature-RegularText";
    font-style: normal;
    font-weight: 300;
    src: 
      url(/assets/PBSignature-RegularText.ttf) format("truetype");
  }


body {

    background-color:#f5f4ec;
    font-family: "PBSignature-RegularText";
}


#navbar{
    background-color:#001E60 !important;
    font-family: "PBSignature-RegularText" !important;
}



  